<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 12 | Ajax-Axios</title>
    <style>
        body{
            font-family: Cambria;
            background-color: #34495E;
            margin: 50px;
        }
        form{
            border: 2px solid #34495E;
            padding: 5px;
            width: 250px;
            background: #41B883;
            font-size: large;
        }
        p, label, input, textarea, select, option {
            display: block;
            min-width: 200px;  
            margin: 20px;
        }
        button{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 5px;
        }
        thead{
            background-color: #41B883;
            text-align: center;
        }
        tbody{
            background-color: #fff;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <form @submit.prevent>
            <label>Name : </label>
            <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model="form.name">
            <label>Address : </label>
            <textarea :disabled="buttonStatus == 'upload'" name="address" ref="address" v-model="form.address"></textarea>
            <label>Phone Number : </label>
            <input type="text" :disabled="buttonStatus == 'upload'" name="no_hp" ref="no_hp" v-model="form.no_hp">
            <p v-if="errors.length">
                <b>Please correct the following errors : </b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <div v-if="buttonStatus == 'submit'">
                <button @click="submitForm()" type="submit" >SUBMIT</button>
            </div>
            <div v-if="buttonStatus == 'upload'">
                <input  type="file" name="photo" ref="photo">
                <button @click="submitPhoto(form.id)">UPLOAD</button>
                <button @click="clearForm()">CANCEL</button>
            </div>
            <div v-if="buttonStatus == 'edit'" >
                <button @click="updateMember(form.id)">UPDATE</button>
                <button @click="clearForm()">CANCEL</button>
            </div>
        </form>

        <br><br>

        <table border="1px">
            <thead>
                <tr>
                    <td>Profile Picture</td>
                    <td>Name</td>
                    <td>Address</td>
                    <td>Phone Number</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(member, index) of members" :key="index">
                    <td>
                        <img width="150" :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="images">
                    </td>
                    <td>{{ member.name }}</td>
                    <td>{{ member.address }}</td>
                    <td>{{ member.no_hp }}</td>
                    <td>
                        <button @click="uploadPhoto(member)">Upload Photo</button>
                        <button @click="editMember(member)">Edit</button>
                        <button @click="removeMember(member.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
     var vm = new Vue({
        el: '#app',
        data: {
            form : {
                id : '',
                name : '',
                address : '',
                no_hp : ''
            },
            members : [],
            errors : [],
            buttonStatus : 'submit',
            photoDomain : 'http://demo-api-vue.sanbercloud.com'
        },
        computed : {
        },
        methods : {
            clearForm : function() {
                this.buttonStatus = 'submit',
                this.form.id = '',
                this.form.name = '',
                this.form.address = '',
                this.form.no_hp = ''
            },
            validationForm : function(){
                this.errors = []

                if(this.form.name.length < 5){
                    this.errors.push("name can't be less than 5 character")
                    this.$refs.name.focus()
                }

                if(this.form.address.length < 15){
                    this.errors.push("address can't be less than 15 character")
                    this.$refs.address.focus()
                }

                if(this.form.no_hp.length < 11 || this.form.no_hp.length > 12){
                    this.errors.push("Incorrect phone number, must be between 11 and 12 digit")
                    this.$refs.no_hp.focus()
                }
            },
            submitForm : function(){
                this.validationForm()

                if(this.errors.length === 0){

                    let formData = new FormData()
                    formData.append('name', this.form.name)
                    formData.append('address', this.form.address)
                    formData.append('no_hp', this.form.no_hp)

                    const config = {
                    method : 'post',
                    url : 'http://demo-api-vue.sanbercloud.com/api/member',
                    data : formData
                    }

                    axios(config)
                        .then( (response) => {
                            this.clearForm()
                            alert(response.data.message)
                            this.getMember()
                        })
                        .catch( (error) => {
                            console.log(error)
                        })

                }
            },
            getMember : function(){
                const config = {
                    methods : 'get',
                    url : 'http://demo-api-vue.sanbercloud.com/api/member'
                }

                axios(config)
                    .then( (response) => {
                        this.members = response.data.members
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
            },
            uploadPhoto : function(member){
                this.buttonStatus = 'upload'
                this.form.id = member.id
                this.form.name = member.name
                this.form.address = member.address
                this.form.no_hp = member.no_hp
            },
            submitPhoto : function(){
                let file = this.$refs.photo.files[0]
                let formData = new FormData()
                    formData.append('photo_profile', file)
                
                const config = {
                    method : 'post',
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${this.form.id}/upload-photo-profile`,
                    data : formData
                    }

                axios(config)
                    .then( (response) => {
                        this.clearForm()
                        alert(response.data.message)
                        this.buttonStatus = 'submit'
                        this.getMember()
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
            },
            removeMember : function(id){
                const config = {
                    method : 'post',
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params : {_method : 'DELETE'}
                }

                axios(config)
                    .then( (response) => {
                        alert(response.data.message)
                        this.getMember()
                    })
                    .catch( (error) => {
                        console.log(error)
                    })

            },
            editMember : function(member){
                this.buttonStatus = 'edit'
                this.form.id = member.id
                this.form.name = member.name
                this.form.address = member.address
                this.form.no_hp = member.no_hp
            },
            updateMember : function(id){

                this.validationForm()

                if(this.errors.length === 0){

                    let formData = new FormData()
                    formData.append('name', this.form.name)
                    formData.append('address', this.form.address)
                    formData.append('no_hp', this.form.no_hp)

                    const config = {
                        method : 'post',
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : {_method : 'PUT'},
                        data : formData
                    }

                    axios(config)
                        .then( (response) => {
                            this.clearForm()
                            alert(response.data.message)
                            this.getMember()
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
                }
            }
        },
        created(){
                this.getMember()
            }
    })
    </script>
  </body>
</html>