body {
    background-color: #42b883;
    font-family: "Comic Sans Ms";
    text-align: justify;
    color: #35495e;
}
header {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: groove 1px
}

#logo {
    width: 10%;
}

#datetime {
    display: flex;
    margin-top: 15px;
}

#time {
    margin-left: 15px;
    margin-right: 15px;
}

section
    {
        background-color: white;
        margin-left: 200px;
        margin-top: 100px;
        margin-right: 200px;
        margin-bottom: 20px;
        padding: 40px;
    }

#foto {
    width: 30%;
    border: ridge #42b883 3px;
}

#moto {
    display: inline-flex;
}

#p1 {
    margin-left: 30px;
}

footer {
    position:static;
    color: #35495e;
    background-color: white;
    padding: 1px;
    text-align: center;
}

