<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 9 Dan 10 - Form Input Binding</title>
</head>
<body>
    <div id="app">
        <form >
            <input type="text" v-model="search" placeholder="Search for Books">
        </form>
        <ul>
            <li v-for="book in filteredBooks" :key="book.name">
                {{ book.name }}
            </li>
        </ul>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
     var vm = new Vue({
        el: '#app',
        data: {
            books: [
                {name : 'Kalkulus Dasar'},
                {name : 'Fisika Dasar'},
                {name : 'Aljabar Linier Elementer'},
                {name : 'Aljabar Abstrak'},
                {name : 'Algoritma Pemrograman'}
            ],
            search : ''
        },
        computed : {
            filteredBooks: function(){
                return this.books.filter((book) => {
                    return book.name.toLowerCase().match(this.search.toLowerCase());
                })
            }
        },
        methods : {}
    })
    </script>
  </body>
</html>